
*.pro.user
*.pro.user*
.qmake.stash
Makefile

cpp-projects/_build
cpp-projects/_resources
cpp-projects/_thirdparty

.qtc_clangd

## bin
cpp-projects/**/Makefile
cpp-projects/**/Makefile*
cpp-projects/**/*.pch
cpp-projects/**/*.rc

